<div class = "card__container">
    <img src = "/images/test.jpg">
    <div class = "info__container">
        <div class = "top">
            <h1>Guest House Maxim Restaurant</h1>
            <div class="star__container">
                <a class="fas fa-star s1"></a>
                <a class="fas fa-star s2"></a>
                <a class="fas fa-star s3"></a>
                <a class="fas fa-star s4"></a>
                <a class="fas fa-star s5"></a>
            </div>
            <h1 class = "average">4.2</h1>
            <a class = "comments"><i class="fas fa-comments"></i>429</a>
        </div>
        <div class="middle">
            <button>Restaurant</button>
            <button>Lorem ipsum</button>
            <button>Lorem ipsum</button>
            <h1>62% recommended</h1>
            <h1>Booked 32 times</h1>
        </div>
        <div class="bottom">
            <button>6:30 pm</button>
            <button>7:00 pm</button>
            <button>7:30 pm</button>
            <button>8:00 pm</button>
            <button>8:30 pm</button>
            <button>9:00 pm</button>
        </div>
    </div>
</div>
<div class = "card__container">
    <img src = "/images/test.jpg">
    <div class = "info__container">
        <div class = "top">
            <h1>Guest House Maxim Restaurant</h1>
            <div class="star__container">
                <a class="fas fa-star s1"></a>
                <a class="fas fa-star s2"></a>
                <a class="fas fa-star s3"></a>
                <a class="fas fa-star s4"></a>
                <a class="fas fa-star s5"></a>
            </div>
            <h1 class = "average">4.2</h1>
            <a class = "comments"><i class="fas fa-comments"></i>429</a>
        </div>
        <div class="middle">
            <button>Restaurant</button>
            <button>Lorem ipsum</button>
            <button>Lorem ipsum</button>
            <h1>62% recommended</h1>
            <h1>Booked 32 times</h1>
        </div>
        <div class="bottom">
            <button>6:30 pm</button>
            <button>7:00 pm</button>
            <button>7:30 pm</button>
             <button>8:00 pm</button>
            <button>8:30 pm</button>
            <button>9:00 pm</button>
        </div>
    </div>
</div>
<div class = "card__container">
    <img src = "/images/test.jpg">
    <div class = "info__container">
        <div class = "top">
            <h1>Guest House Maxim Restaurant</h1>
            <div class="star__container">
                <a class="fas fa-star s1"></a>
                <a class="fas fa-star s2"></a>
                <a class="fas fa-star s3"></a>
                <a class="fas fa-star s4"></a>
                <a class="fas fa-star s5"></a>
            </div>
            <h1 class = "average">4.2</h1>
            <a class = "comments"><i class="fas fa-comments"></i>429</a>
        </div>
        <div class="middle">
            <button>Restaurant</button>
            <button>Lorem ipsum</button>
            <button>Lorem ipsum</button>
            <h1>62% recommended</h1>
            <h1>Booked 32 times</h1>
        </div>
        <div class="bottom">
            <button>6:30 pm</button>
            <button>7:00 pm</button>
            <button>7:30 pm</button>
             <button>8:00 pm</button>
            <button>8:30 pm</button>
            <button>9:00 pm</button>
        </div>
    </div>
</div>