<div class="main__content">
    <div class = "edit__container">
        <div class="header__container">
            <h1>Edit posts</h1>
        </div>
        <div class="editCard__container">
            {{>editCards}}
        </div>
    </div>
</div>   