<nav>
    <div class = "dropdown">
        <h1>DROPDOWN LOCATION</h1>
    </div>
    <div class = "logo">
        <img src = "/images/test.jpg" />
    </div>
    <ul>
        <a href = "/">Home</a>
        <a>Info</a>
        <a href = "/register">Register</a>
        <a href = "/login">Sign in</a>
    </ul>
</nav>