<nav>
    <div class = "dropdown">
        <h1>DROPDOWN LOCATION</h1>
    </div>
    <div class = "logo">
        <img src = "/images/test.jpg" />
    </div>
    {{#if isAuthenticated}}
        <ul>
            <a href = "/">Home</a>
            <a href = "/profile">Profile</a>
            <form action="/logout?_method=DELETE" method = "POST">
                <button type = "submit">Log out</button>
            </form>
            <div class="img__container">
                <img src = "/images/avatar.png">
                <span id = "username">{{isAuthenticated.username}}</span>
            </div>
        </ul>
    {{else}}
        <ul>
            <a href = "/">Home</a>
            <a href = "/register">Register</a>
            <a href = "/login">Sign in</a>
        </ul>
    {{/if}}
</nav>