<nav>
    <div class = "logo">
        <h1>Restauries</h1>
    </div>
    {{#if isAuthenticated}}
        <ul>
            <a class = "home" href = "/">Home</a>
            <div class = "profile__dropdown">
                <a class = "profile__dropdownBtn">Profile <i class="fa fa-caret-down"></i></a>
                <div class = "profile__dropdownContent">
                    <a href = "/profile">Dashboard</a>
                    {{#if isAuthenticated.admin}}
                        <a href = "/profile/create">Create post</a>
                        <a href = "/profile/edit">Edit post</a>
                    {{/if}}
                    <a href = "/profile/settings">Settings</a>
                </div>
            </div>
            <form action="/logout?_method=DELETE" method = "POST">
                <button type = "submit">Log out</button>
            </form>
            <div class="img__container">
                <img src = "/images/avatar.png">
                <span id = "username">{{isAuthenticated.username}}</span>
            </div>
        </ul>
    {{else}}
        <ul>
            <a href = "/">Home</a>
            <a href = "/register">Register</a>
            <a href = "/login">Sign in</a>
        </ul>
    {{/if}}
</nav>
{{#if isAuthenticated}}
    <script src = "/javascript/navbar.js"></script>
{{/if}}