<div class="sidebar">
    <a href = "/profile" id = "dashboard"><i class="far fa-folder"></i> Dashboard</a>
    <a href = "/profile/create" id = "create__post"><i class="far fa-plus-square"></i> Create post</a>
    <a href = "/profile/edit" id = "edit__post"><i class="far fa-edit"></i> Edit posts</a>
    <a href = "/profile/settings" id = "settings"><i class="fas fa-cog"></i> Settings</a>
</div>