<div class = "overlay"></div>
{{>navbar}}
<div class = "main__container">
    <div class = "restaurant__container">
        <div class = "header">
            <h1 id = "restaurant__found"><i class="fas fa-utensils"></i>Restaurant Found: {{nrOfPosts}}</h1>
            <div class = "sort__section">
                <div class = "sort__cuisine">
                    <button class = "dropdown__cuisineBtn">Cuisine <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown__cuisineContent">
                        <a class = "search__cuisine">Reset</a>
                        {{#each allCuisine}}
                        <a class = "search__cuisine">{{this}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class = "sort__by">
                    <button class = "dropdown__sortByBtn">Sort by <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown__sortByContent">
                        <a class = "search__sortBy">Reset</a>
                        <a class= "search__sortBy">Highest rating</a>
                        <a class= "search__sortBy">Lowest rating</a>
                    </div>
                </div>
            </div>
        </div>
        <div id = "restaurant__list" class="restaurant__list">
            {{>cards}}
        </div>
    </div>
</div>
<script src = "/javascript/index.js"></script>