{{>navbar}}

<div class="main__post">
    <img src = "/images/restaurant.jpg">
    <h1 class="title">Guest House Maxim Restaurant</h1>
    <div class="tag__container">
        <span class="tag">Restaurant</span>
        <span class="tag">Food</span>
        <span class="tag">America</span>
    </div>
     <div class="star__container">
        <a class="fas fa-star s1"></a>
        <a class="fas fa-star s2"></a>
        <a class="fas fa-star s3"></a>
        <a class="fas fa-star s4"></a>
        <a class="fas fa-star s5"></a>
        <h1>62% recommended</h1>
    </div>
    <h1 class="description">Description</h1>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis maxime quos, explicabo laudantium voluptatibus facilis quia. Quisquam atque esse blanditiis sint voluptate, ducimus aperiam reiciendis harum dolor tempora sit corrupti.</span>
    <div class="comment__container">
        <h1>Comments</h1>
        <div class = "showComment__container">
        </div>
        <div class="post__container">
            <input id = "comment-input" placeholder = "Type here to post your comment">
            <button id = "comment-btn">Post comment</button>
        </div>
    </div>
</div>