{{>navbar}}
<div class="main__container">
    {{>sidebar}}
    <div class="main__content">
        <div class = "create__container">
            <h1>Create a post</h1>
            <form>
                <label for = "title">Title</label>
                <input name = "title">
                <label for = "tags">Tags</label>
                <div class="tag__container">
                    <input name = "tags">
                    <button>Add tag</button>
                </div>
                <label for = "category">Category</label>
                <div class="category__container">
                    <input name = "category">
                    <button>Add category</button>
                </div>
                <label for = "description">Description</label>
                <textarea name = "description"></textarea>
            </form>
        </div>
        <form class="box" method="post" action="" enctype="multipart/form-data">
            <div class="box__input">
                <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                <button class="box__button" type="submit">Upload</button>
            </div>
            <div class="box__uploading">Uploading&hellip;</div>
            <div class="box__success">Done!</div>
            <div class="box__error">Error! <span></span>.</div>
        </form>
    </div>
</div>