{{>navbar}}
<div class="main__container">
    <div class= "image"></div>
    <div class="register__container">
        <form class = "register__form" method = "POST" action = "/register">
            <h1>Register account </h1>
            <input type = "text" name = "name" placeholder = "Enter your name">
            <input type = "text" name = "username" placeholder = "Enter your username">
            <input type = "text" name = "email" placeholder = "Enter your email">
            <input type = "password" name = "password" placeholder = "Enter your password">
            <p class = "got__account">Already have an account? <a href = "/login">Log In</a></p>
            <button type = "submit">Register</button>
            <p class = "terms">By signing up, you agree to our <a>Terms & Conditions</a></p>
        </form> 
    </div>
</div>