@import '_global';
.main__container{
    background: $dark-dark-blue;
    .main__content{
        height: 100%;
        min-height: calc(100vh - 80px);
        padding: 40px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .edit__container{
            width: 100%;
            max-width: 1400px;
        .header__container{
                h1{
                    font-family: $header-font;
                    color: $white;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }
            }
            .editCard__container{
                max-height: 900px;
                overflow-y: scroll;
            }
        }
    }
}