@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
/* Global variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.header__container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272F46;
}

.header__container a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  padding: 20px 30px 20px 30px;
  color: #A3B4D3;
}

.header__container a i {
  padding-right: 5px;
}

.header__container a::after {
  font-family: "FontAwesome";
  font-weight: 500;
  content: "\f078";
  margin-left: 5px;
}

.header__container button {
  padding: 10px 20px 10px 20px;
  background: #B1422F;
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  border-radius: 20px;
  border: none;
}

.main__container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 320px 1fr;
  background: #171B26;
  padding: 5%;
}

.main__container .sidebar {
  grid-row: 1;
  grid-column: 1;
  background: white;
  margin-right: 20px;
  background: #272F46;
}

.main__container .sidebar .cuisine,
.main__container .sidebar .region {
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid #A3B4D3;
}

.main__container .sidebar .cuisine a,
.main__container .sidebar .region a {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #A3B4D3;
  letter-spacing: 1px;
}

.main__container .sidebar .cuisine a i,
.main__container .sidebar .region a i {
  margin-right: 10px;
}

.main__container .sidebar .cuisine a::after,
.main__container .sidebar .region a::after {
  font-family: "FontAwesome";
  font-weight: 500;
  content: "\f078";
  margin-left: 5px;
  float: right;
}

.main__container .sidebar .cuisine {
  border-top: 1px solid #A3B4D3;
}

.main__container .sidebar .region__list,
.main__container .sidebar .cuisine__list {
  padding: 10px 30px 20px 30px;
}

.main__container .sidebar .region__list .city,
.main__container .sidebar .region__list .food,
.main__container .sidebar .cuisine__list .city,
.main__container .sidebar .cuisine__list .food {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.main__container .sidebar .region__list .city h1,
.main__container .sidebar .region__list .food h1,
.main__container .sidebar .cuisine__list .city h1,
.main__container .sidebar .cuisine__list .food h1 {
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: #A3B4D3;
  font-size: 1.4rem;
}

.main__container .sidebar .region__list .city input,
.main__container .sidebar .region__list .food input,
.main__container .sidebar .cuisine__list .city input,
.main__container .sidebar .cuisine__list .food input {
  font-size: 1.4rem;
}

.main__container .sidebar .region__list button,
.main__container .sidebar .cuisine__list button {
  margin: 20px 0px;
  padding: 10px 20px 10px 20px;
  background: transparent;
  color: #A3B4D3;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 20px;
  border: 1px solid #A3B4D3;
}

.main__container .restaurant__container {
  grid-row: 1;
  grid-column: 2;
  overflow-y: scroll;
}

.main__container .restaurant__container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__container .restaurant__container .header .button__container button {
  padding: 10px 20px 10px 20px;
  background: transparent;
  color: #A3B4D3;
  border: 1px solid #A3B4D3;
  border-radius: 20px;
  margin-right: 10px;
}

.main__container .restaurant__container .header h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 1px;
}

.main__container .restaurant__container .header h1 i {
  margin-right: 10px;
}

.main__container .restaurant__container .restaurant__list {
  margin-top: 20px;
}
