@import '_global';

.show{
    display: block !important;
}

.main__container{
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background: $dark-dark-blue;
    overflow-y: hidden;
    padding: 30px 30px 0 30px;
    .restaurant__container{
        height: 100vh;
        width: 100%;
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1400px;
            width: 100%;
            margin-bottom: 20px;
            h1{
                font-family: $header-font;
                color: $white;
                letter-spacing: 1px;
                font-size: 2.3rem;
                i{
                    margin-right: 10px;
                }
            }
            .sort__section{
                display: flex;
                .sort__cuisine,
                .sort__by{
                    .dropdown__cuisineBtn,
                    .dropdown__sortByBtn{
                        position: relative;
                        outline: none; 
                    }
                    .dropdown__cuisineContent,
                    .dropdown__sortByContent{
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        min-width: 180px;
                        z-index: 5;
                        border-radius: 5px;
                    }
                    .dropdown__cuisineContent{
                        max-height: 250px;
                        overflow-y: scroll; 
                    }
                }
                .sort__cuisine{
                    margin-right: 10px;
                }
                a{
                    font-family: $header-font;
                    color: $dark-blue;
                    font-size: 1.4rem;
                    padding: 10px 14px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    text-decoration: none;
                    &:hover{
                        background: lightgrey;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    &::first-letter{
                        text-transform: uppercase;
                    }
                }
                button{
                    font-family: $header-font;
                    font-size: 1.4rem;
                    padding: 10px;
                    width: 100%;
                    min-width: 120px;
                    max-width: 200px;
                    border-radius: 5px;
                    background: $dark-blue;
                    color: $white;
                    letter-spacing: 1px;
                    cursor: pointer;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 2rem;
                        margin-left: 7.5px;
                    }
                }
            }
        }
        .restaurant__list{
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media screen and (max-width: 1000px){
    .main__container{
        padding: 30px 10px 30px 10px;
        .restaurant__container{
            .header{
                display: block;
                text-align: center;
                .sort__section{
                    justify-content: center;
                    margin-top: 10px;
                    button{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 425px){
    .main__container{
        padding: 30px 10px 30px 10px;
        .restaurant__container{
            .header{
                display: block;
                text-align: center;
                h1{
                    font-size: 1.8rem;
                    i{
                        margin-right: 10px;
                    }
                }
                .sort__section{
                    justify-content: center;
                    margin-top: 10px;
                    button{
                        min-width: 80px;
                        max-width: 140px;
                        font-size: 1.2rem;
                        margin-top: 10px;
                        i{
                            font-size: 1.4rem;
                            margin-left: 5px;
                        }
                    }
                    .sort__cuisine,
                    .sort__by{
                        .dropdown__cuisineBtn,
                        .dropdown__sortByBtn{
                            position: relative;
                            outline: none; 
                        }
                        .dropdown__cuisineContent,
                        .dropdown__sortByContent{
                            min-width: 150px;
                        }
                        .dropdown__cuisineContent{
                            max-height: 200px;
                        }
                    }
                    a{
                        font-family: $header-font;
                        color: $dark-blue;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}