@import '_global';


::-webkit-scrollbar {
    display: none;
}

.active{
    color: red; 
}

// Overlay - start
.overlay{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 1;
}
// Overlay - end


// Navbar - start
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: $dark-blue;
    color: $light-blue;
    border-bottom: 1px solid $light-blue;
    .logo{
        display: flex;
        align-items: center;
        h1{
            font-family: $logo-font;
            color: $white;
            font-size: 3.5rem;
            margin-left: 10px;
            letter-spacing: 2px;
        }
       
    }
    ul{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding: 20px;
        a{
            font-family: $header-font;
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding: 10px;
            text-decoration: none;
            color: $light-blue;
            &:hover{
                cursor: pointer;
            }
        }
        button{
            font-family: $header-font;
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding: 10px;
            text-decoration: none;
            color: $light-blue;
            background: transparent;
            border: none;
            &:hover{
                cursor: pointer;
            }
        }
        .img__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
            span{
                margin-top: 5px;
                font-size: 1.2rem;
                font-family: $header-font;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
// Navbar - end

// Sidebar - start
.sidebar{
    height: calc(100vh - 80px);
    width: 240px;
    background: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{  
        // height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        font-family: $header-font;
        color: white;
        font-size: 1.4rem;
        margin-top: 30px;
        padding: 10px 15% 10px 15%;
        letter-spacing: .5px;
        text-decoration: none;
        i{
            font-size: 2rem;
            margin-right: 20px;
        }
        &:hover{
            cursor: pointer;
            background: grey;
        }
    }
}

// Sidebar - end

// Restaurant Cards - start
.card__container,
.editCard{
    height: 225px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    background: $dark-blue;
    margin-bottom: 20px;
    border-radius: 5px;
    img{
        height: 100%;
        min-width: 350px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .info__container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
        h1{
            font-size: 1.8rem;
            letter-spacing: 1px;
            font-family: $header-font;
            color: $white;
        }
        .top{
            display: flex;
            align-items: center;
            .star__container{
                display: flex;
                margin-left: 20px;
                direction: ltr;
                a{
                    font-size: 1.5rem;
                    transition: 0.3s all;
                    color: $light-blue;
                }
                .average{
                    margin-left: 5px;
                    font-size: 1.2rem;
                }
            }
            .comments{
                margin-left: 20px;
                font-size: 1.2rem;
                font-family: $header-font;
                color: $light-blue;
                letter-spacing: 1px;
                i{
                    font-size: 1.6rem;
                    margin-right: 5px;
                }
            }
        }
        .middle{
            margin-top: 25px;
            display: flex;
            align-items: center;
            .tag{
                margin-right: 7.5px;
                padding: 7.5px;
                background: transparent;
                font-family: $header-font;
                font-size: 1.1rem;
                letter-spacing: 1px;
                color: $light-blue;
                border: 1px solid $light-blue;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            h1{
                margin-left: 20px;
                font-size: 1.6rem;
                letter-spacing: 1px;
                font-family: $header-font;
                color: $light-blue;
            }
        }
        .bottom{
            margin-top: 25px;
            display: flex;
            .city,
            .cuisine{
                font-size: 1.2em;
                letter-spacing: 1px;
                font-family: $header-font;
                color: $light-blue;
                margin-top: 5px;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            .cuisine{
                margin-left: 30px;  
            }
            .cuisine-text{
                display: flex;
                flex-direction: column;
                h1{
                    color: $white;
                    font-size: 1.4rem;
                    letter-spacing: 1px;
                    margin-left: 30px;      
                }   
            }
            .city-text{
                display: flex;
                flex-direction: column;
                h1{
                    color: $white;
                    font-size: 1.4rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .edit__container{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-right: 10px;
        a{
            width: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            font-family: $header-font;
            color: $white;
            text-transform: uppercase;
            padding: 10px;
            border: 2px solid $white;
            cursor: pointer;
            letter-spacing: 1px;
            &:nth-child(2){
                margin-top: 20px;
            }
            i{
                font-size: 1.5rem;
                margin-right: 5px;
            }
        }
    }
    .editCard{
        height: 200px;
    }
    
}
// Restaurant Cards - end

// Delete post container - start
.delete__container{
    display: none;
    position: absolute;
    height: 225px;
    width: 300px;
    background: $dark-dark-blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    h1{
        font-family: $header-font;
        font-size: 1.8rem;
        color: $white;
        span{
            font-family: $text-font;
            color: red;
            font-size: 1.5rem;
        }
    }
    .deleteBtn__container{
        display: flex;
        justify-content: center;
        button{
            font-family: $header-font;
            font-size: 1.4rem;
            padding: 10px;
            width: 120px;
            margin: 20px 5px 0 0;
            border-radius: 5px;
            background: $dark-blue;
            color: $white;
            letter-spacing: 1px;
            cursor: pointer;
            border: none;
        }
    }
}
.card__container{
    cursor: pointer;
}
// Delete post container - end

// Edit post container - start
.editPost__container{
    display: none;
    position: absolute;
    height: 750px;
    width: 80%;
    background: $dark-dark-blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 1;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    a{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 4rem;
        color: $white;
        margin: 20px;
        cursor: pointer;
    }
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-family: $header-font;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 1px;
        }
        button{
            height: 45px;
            width: 160px;
            border-radius: 5px;
            font-family: $header-font;
            text-transform: uppercase;
            font-size: 1.3em;
            letter-spacing: .5px;
            border: none;
            background: $dark-blue;
            color: $white;
            margin: 5px 0px 0px 2px;
            cursor: pointer;
        }
    }
    #edit__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label{
            width: 100%;
            margin-top: 20px;
            font-family: $header-font;
            font-size: 1.6rem;
            color: $white;
            letter-spacing: 1px;
        }
        input{
            width: 100%;
            height: 40px;
            font-family: $text-font;
            font-size: 1.2rem;
            border-radius: 5px;
            margin-top: 5px;
            padding-left: 10px;
            border: none;
        }
        textarea{
            width: 100%;
            height: 150px;
            font-family: $text-font;
            font-size: 1.2rem;
            border-radius: 5px;
            margin-top: 5px;
            padding: 10px;
            border: none;
        }
    }
    .box{
        width: 100%;    
        margin-top: 20px;
        .box__input{
            display: flex;
            flex-direction: column;
            h1{
                font-family: $header-font;
                font-size: 1.6rem;
                text-transform: none;
                color: $white;
                letter-spacing: 1px;
            }
            .file__container{
                display: flex;
                align-items: center;
                .box__file{
                    display: none;
                }
                #browse{
                    padding: 12.5px;
                    width: 160px;
                    text-align: center;
                    background: $dark-blue;
                    font-family: $header-font;
                    color: $white;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    font-size: 1.4rem;
                    border-radius: 5px;
                    margin: 10px 0 0 0;
                    cursor: pointer;    
                }
                span{
                    font-family: $header-font;
                    font-size: 1.4rem;
                    color: $white;
                    letter-spacing: 1px;
                    margin: 10px 0 0 10px;
                    &::first-letter{
                        text-transform: uppercase;
                    }
                }
            } 
        }
    }
}

@media screen and (max-width: 1000px){
    .card__container,
    .editCard{
        img{
            min-width: 300px;
            max-width: 300px;
        }
        .info__container{
            padding-left: 0;
            justify-content: center;
            align-items: center;
            h1{
                text-align: center;
                font-size: 1.8rem;
            }
            .top{
                display: block;
                .star__container{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 20px 0 0 0;
                    direction: ltr;
                    a{
                        font-size: 1.6rem;
                    }
                    .average{
                        margin-left: 5px;
                        font-size: 1.4rem;
                    }
                }
                a.comments{
                    font-size: 1.4rem;
                    i{
                        font-size: 1.6rem;
                        margin-right: 5px;
                    }
                }
            }
            .middle{
                display: none;
            }
            .bottom{
                margin-top: 20px;
                .city,
                .cuisine{
                    font-size: 1.2em;
                }
                .cuisine-text{
                    h1{
                        font-size: 1.4rem;    
                    }   
                }
                .city-text{
                    h1{
                        text-align: left;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 620px){
    .card__container,
    .editCard{
        img{
            display: none;
        }
    }
    .info__container{
        padding: 5%;
    }
}


@media screen and (max-width: 479px){
    nav{
        display: none;
    }
    .card__container,
    .editCard{
        height: 175px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        background: $dark-blue;
        margin-bottom: 20px;
        border-radius: 5px;
        img{
            display: none;
        }
        .info__container{
            width: 100%;
            height: 100%;
            padding: 5%;
            h1{
                font-size: 1.6rem;
            }
            .top{
                display: block;
                text-align: center;
                .star__container{
                    display: flex;
                    justify-content: center;
                    margin: 10px 0 0 0;
                    direction: ltr;
                    a{
                        font-size: 1.6rem;
                    }
                    .average{
                        margin-left: 5px;
                        font-size: 1.4rem;
                    }
                }

                .comments{
                    display: none;
                }
            }
            .middle{
                margin-top: 10px;
                display: none;
                .tag{
                    display:none;
                }
                h1{
                    margin-left: 10px;
                    font-size: 1.4rem;
                    letter-spacing: 1px;
                    font-family: $header-font;
                    color: $light-blue;
                }
            }
            .bottom{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                .city,
                .cuisine{
                    font-size: 1.2em;
                    margin-top: 5px;
                }
                .cuisine{
                    margin-left: 30px;  
                }
                .cuisine-text{
                    display: flex;
                    flex-direction: column;
                    h1{
                        font-size: 1.2rem;
                        margin-left: 30px;      
                    }   
                }
                .city-text{
                    display: flex;
                    flex-direction: column;
                    h1{
                        color: $white;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }     
}