@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
/* Global variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.active {
  color: red;
}

.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

nav {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #272F46;
  color: #A3B4D3;
  border-bottom: 1px solid #A3B4D3;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo h1 {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 3.5rem;
  margin-left: 10px;
  letter-spacing: 2px;
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 20px;
}

nav ul a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 10px;
  text-decoration: none;
  color: #A3B4D3;
}

nav ul a:hover {
  cursor: pointer;
}

nav ul button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 10px;
  text-decoration: none;
  color: #A3B4D3;
  background: transparent;
  border: none;
}

nav ul button:hover {
  cursor: pointer;
}

nav ul .img__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

nav ul .img__container img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

nav ul .img__container span {
  margin-top: 5px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

nav ul .img__container span::first-letter {
  text-transform: uppercase;
}

nav ul .img__container:hover {
  cursor: pointer;
}

.sidebar {
  height: calc(100vh - 80px);
  width: 240px;
  background: #272F46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.4rem;
  margin-top: 30px;
  padding: 10px 15% 10px 15%;
  letter-spacing: .5px;
  text-decoration: none;
}

.sidebar a i {
  font-size: 2rem;
  margin-right: 20px;
}

.sidebar a:hover {
  cursor: pointer;
  background: grey;
}

.card__container,
.editCard {
  height: 225px;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #272F46;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card__container img,
.editCard img {
  height: 100%;
  min-width: 350px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card__container .info__container,
.editCard .info__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5%;
}

.card__container .info__container h1,
.editCard .info__container h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.card__container .info__container .top,
.editCard .info__container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__container .info__container .top .star__container,
.editCard .info__container .top .star__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  direction: ltr;
}

.card__container .info__container .top .star__container a,
.editCard .info__container .top .star__container a {
  font-size: 1.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #A3B4D3;
}

.card__container .info__container .top .star__container .average,
.editCard .info__container .top .star__container .average {
  margin-left: 5px;
  font-size: 1.2rem;
}

.card__container .info__container .top .comments,
.editCard .info__container .top .comments {
  margin-left: 20px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #A3B4D3;
  letter-spacing: 1px;
}

.card__container .info__container .top .comments i,
.editCard .info__container .top .comments i {
  font-size: 1.6rem;
  margin-right: 5px;
}

.card__container .info__container .middle,
.editCard .info__container .middle {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__container .info__container .middle .tag,
.editCard .info__container .middle .tag {
  margin-right: 7.5px;
  padding: 7.5px;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #A3B4D3;
  border: 1px solid #A3B4D3;
}

.card__container .info__container .middle .tag::first-letter,
.editCard .info__container .middle .tag::first-letter {
  text-transform: uppercase;
}

.card__container .info__container .middle h1,
.editCard .info__container .middle h1 {
  margin-left: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: #A3B4D3;
}

.card__container .info__container .bottom,
.editCard .info__container .bottom {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__container .info__container .bottom .city,
.card__container .info__container .bottom .cuisine,
.editCard .info__container .bottom .city,
.editCard .info__container .bottom .cuisine {
  font-size: 1.2em;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: #A3B4D3;
  margin-top: 5px;
}

.card__container .info__container .bottom .city::first-letter,
.card__container .info__container .bottom .cuisine::first-letter,
.editCard .info__container .bottom .city::first-letter,
.editCard .info__container .bottom .cuisine::first-letter {
  text-transform: uppercase;
}

.card__container .info__container .bottom .cuisine,
.editCard .info__container .bottom .cuisine {
  margin-left: 30px;
}

.card__container .info__container .bottom .cuisine-text,
.editCard .info__container .bottom .cuisine-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__container .info__container .bottom .cuisine-text h1,
.editCard .info__container .bottom .cuisine-text h1 {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-left: 30px;
}

.card__container .info__container .bottom .city-text,
.editCard .info__container .bottom .city-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__container .info__container .bottom .city-text h1,
.editCard .info__container .bottom .city-text h1 {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.card__container .edit__container,
.editCard .edit__container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.card__container .edit__container a,
.editCard .edit__container a {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
  letter-spacing: 1px;
}

.card__container .edit__container a:nth-child(2),
.editCard .edit__container a:nth-child(2) {
  margin-top: 20px;
}

.card__container .edit__container a i,
.editCard .edit__container a i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.card__container .editCard,
.editCard .editCard {
  height: 200px;
}

.delete__container {
  display: none;
  position: absolute;
  height: 225px;
  width: 300px;
  background: #171B26;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 1;
  padding: 20px;
}

.delete__container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: white;
}

.delete__container h1 span {
  font-family: "Nunito", sans-serif;
  color: red;
  font-size: 1.5rem;
}

.delete__container .deleteBtn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delete__container .deleteBtn__container button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  width: 120px;
  margin: 20px 5px 0 0;
  border-radius: 5px;
  background: #272F46;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}

.card__container {
  cursor: pointer;
}

.editPost__container {
  display: none;
  position: absolute;
  height: 750px;
  width: 80%;
  background: #171B26;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 1;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editPost__container a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4rem;
  color: white;
  margin: 20px;
  cursor: pointer;
}

.editPost__container .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editPost__container .header__container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
}

.editPost__container .header__container button {
  height: 45px;
  width: 160px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: .5px;
  border: none;
  background: #272F46;
  color: white;
  margin: 5px 0px 0px 2px;
  cursor: pointer;
}

.editPost__container #edit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editPost__container #edit__form label {
  width: 100%;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 1px;
}

.editPost__container #edit__form input {
  width: 100%;
  height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 10px;
  border: none;
}

.editPost__container #edit__form textarea {
  width: 100%;
  height: 150px;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  border: none;
}

.editPost__container .box {
  width: 100%;
  margin-top: 20px;
}

.editPost__container .box .box__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editPost__container .box .box__input h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-transform: none;
  color: white;
  letter-spacing: 1px;
}

.editPost__container .box .box__input .file__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editPost__container .box .box__input .file__container .box__file {
  display: none;
}

.editPost__container .box .box__input .file__container #browse {
  padding: 12.5px;
  width: 160px;
  text-align: center;
  background: #272F46;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1.4rem;
  border-radius: 5px;
  margin: 10px 0 0 0;
  cursor: pointer;
}

.editPost__container .box .box__input .file__container span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: white;
  letter-spacing: 1px;
  margin: 10px 0 0 10px;
}

.editPost__container .box .box__input .file__container span::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .card__container img,
  .editCard img {
    min-width: 300px;
    max-width: 300px;
  }
  .card__container .info__container,
  .editCard .info__container {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__container .info__container h1,
  .editCard .info__container h1 {
    text-align: center;
    font-size: 1.8rem;
  }
  .card__container .info__container .top,
  .editCard .info__container .top {
    display: block;
  }
  .card__container .info__container .top .star__container,
  .editCard .info__container .top .star__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px 0 0 0;
    direction: ltr;
  }
  .card__container .info__container .top .star__container a,
  .editCard .info__container .top .star__container a {
    font-size: 1.6rem;
  }
  .card__container .info__container .top .star__container .average,
  .editCard .info__container .top .star__container .average {
    margin-left: 5px;
    font-size: 1.4rem;
  }
  .card__container .info__container .top a.comments,
  .editCard .info__container .top a.comments {
    font-size: 1.4rem;
  }
  .card__container .info__container .top a.comments i,
  .editCard .info__container .top a.comments i {
    font-size: 1.6rem;
    margin-right: 5px;
  }
  .card__container .info__container .middle,
  .editCard .info__container .middle {
    display: none;
  }
  .card__container .info__container .bottom,
  .editCard .info__container .bottom {
    margin-top: 20px;
  }
  .card__container .info__container .bottom .city,
  .card__container .info__container .bottom .cuisine,
  .editCard .info__container .bottom .city,
  .editCard .info__container .bottom .cuisine {
    font-size: 1.2em;
  }
  .card__container .info__container .bottom .cuisine-text h1,
  .editCard .info__container .bottom .cuisine-text h1 {
    font-size: 1.4rem;
  }
  .card__container .info__container .bottom .city-text h1,
  .editCard .info__container .bottom .city-text h1 {
    text-align: left;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 620px) {
  .card__container img,
  .editCard img {
    display: none;
  }
  .info__container {
    padding: 5%;
  }
}

@media screen and (max-width: 479px) {
  nav {
    display: none;
  }
  .card__container,
  .editCard {
    height: 175px;
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #272F46;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .card__container img,
  .editCard img {
    display: none;
  }
  .card__container .info__container,
  .editCard .info__container {
    width: 100%;
    height: 100%;
    padding: 5%;
  }
  .card__container .info__container h1,
  .editCard .info__container h1 {
    font-size: 1.6rem;
  }
  .card__container .info__container .top,
  .editCard .info__container .top {
    display: block;
    text-align: center;
  }
  .card__container .info__container .top .star__container,
  .editCard .info__container .top .star__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0 0 0;
    direction: ltr;
  }
  .card__container .info__container .top .star__container a,
  .editCard .info__container .top .star__container a {
    font-size: 1.6rem;
  }
  .card__container .info__container .top .star__container .average,
  .editCard .info__container .top .star__container .average {
    margin-left: 5px;
    font-size: 1.4rem;
  }
  .card__container .info__container .top .comments,
  .editCard .info__container .top .comments {
    display: none;
  }
  .card__container .info__container .middle,
  .editCard .info__container .middle {
    margin-top: 10px;
    display: none;
  }
  .card__container .info__container .middle .tag,
  .editCard .info__container .middle .tag {
    display: none;
  }
  .card__container .info__container .middle h1,
  .editCard .info__container .middle h1 {
    margin-left: 10px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    color: #A3B4D3;
  }
  .card__container .info__container .bottom,
  .editCard .info__container .bottom {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__container .info__container .bottom .city,
  .card__container .info__container .bottom .cuisine,
  .editCard .info__container .bottom .city,
  .editCard .info__container .bottom .cuisine {
    font-size: 1.2em;
    margin-top: 5px;
  }
  .card__container .info__container .bottom .cuisine,
  .editCard .info__container .bottom .cuisine {
    margin-left: 30px;
  }
  .card__container .info__container .bottom .cuisine-text,
  .editCard .info__container .bottom .cuisine-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__container .info__container .bottom .cuisine-text h1,
  .editCard .info__container .bottom .cuisine-text h1 {
    font-size: 1.2rem;
    margin-left: 30px;
  }
  .card__container .info__container .bottom .city-text,
  .editCard .info__container .bottom .city-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__container .info__container .bottom .city-text h1,
  .editCard .info__container .bottom .city-text h1 {
    color: white;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=partials.css.map */