@import '_global';

.active{
    color: red; 
}

// Navbar - start
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: $dark-blue;
    color: $light-blue;
    border-bottom: 1px solid $light-blue;
    .dropdown{
        display: flex;
        align-items: center;
        h1{
            padding: 10px;
        }
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 60px;
            width: 60px;
            background: transparent;
        }
    }
    ul{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding: 20px;
        a{
            font-family: $header-font;
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding: 10px;
            text-decoration: none;
            color: $light-blue;
            &:hover{
                cursor: pointer;
            }
        }
        button{
            font-family: $header-font;
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding: 10px;
            text-decoration: none;
            color: $light-blue;
            background: transparent;
            border: none;
            &:hover{
                cursor: pointer;
            }
        }
        .img__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
            span{
                margin-top: 5px;
                font-size: 1.2rem;
                font-family: $header-font;
                &::first-letter{
                    text-transform: uppercase;
                }
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
// Navbar - end

// Sidebar - start
.sidebar{
    height: calc(100vh - 80px);
    width: 280px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{  
        // height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        font-family: $header-font;
        color: white;
        font-size: 1.4rem;
        margin-top: 30px;
        padding: 10px 20% 10px 20%;
        letter-spacing: .5px;
        i{
            font-size: 2rem;
            margin-right: 20px;
        }
        &:hover{
            cursor: pointer;
            background: grey;
        }
    }
}

// Sidebar - end

// Restaurant Cards - start
.card__container{
    height: 225px;
    width: 100%;
    display: flex;
    background: $dark-blue;
    margin-top: 20px;
    img{
        height: 100%;
        width: 350px;
    }
    .info__container{
        width: 100%;
        padding: 5%;
        margin: auto auto;
        h1{
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-family: $header-font;
            color: $white;
        }
    }
    .top{
        display: flex;
        align-items: center;
        .star__container{
            margin-left: 20px;
            direction: ltr;
            a{
                font-size: 1.5rem;
                transition: 0.3s all;
                color: $light-blue;
                // &:hover{
                //     color: #f1c40f;
                //     cursor: pointer;
                // }
            }
            .s1{
                color: $yellow;
            }
            .s2{
                color: $yellow;
            }
            .s3{
                color: $yellow;
            }
            .s4{
                color: $yellow;
            }
            // .b1:hover ~ a{
            //     color: #f1c40f;
            // }
            // .b2:hover ~ a{
            //     color: #f1c40f;
            // }
            // .b3:hover ~ a{
            //     color: #f1c40f;
            // }
            // .b4:hover ~ a{
            //     color: #f1c40f;
            // }
            // .b5:hover ~ a{
            //     color: #f1c40f;
            // }
        }
        .average{
            margin-left: 5px;
            font-size: 1.2rem;
        }
        .comments{
            margin-left: 20px;
            font-size: 1.2rem;
            font-family: $header-font;
            color: $light-blue;
            i{
                font-size: 1.6rem;
                margin-right: 5px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .middle{
        margin-top: 25px;
        display: flex;
        align-items: center;
        button{
            margin-right: 5px;
            padding: 7.5px;
            background: transparent;
            font-size: 1.1rem;
            letter-spacing: 1px;
            color: $light-blue;
            border: 1px solid $light-blue;
        }
        h1{
            margin-left: 20px;
            font-size: 1.2em;
            letter-spacing: 1px;
            font-family: $text-font;
            color: $light-blue;
        }
    }
}
// Restaurant Cards - end