@import '_global';

.main__container{
    display: grid;
    grid-template-columns: 240px 1fr;
    background: $dark-dark-blue;
    .main__content{
        grid-column: 2;
        height: calc(100vh - 80px);
        padding: 3%;
        h1{
            font-family: $header-font;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 1px;
        }
    }
}